<head>
    <title>Spotimage Generator</title>
    <!-- v META v -->
    <meta name="title" content="Spotimage Generator">
    <meta name="description" content="Generate beautiful Spotify song previews in seconds with expanded customization, themes and colors.">
    <meta name="keywords" content="spotify,spotigen,spotimage,imkylejk">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="@ImKyleJK">
    <!-- ^ META ^ -->
    <!-- v SCRIPTS v -->
    <script src="script.js?lang=<%- user.language || 'en' %>&build=<%- system.build || 'dev' %>"></script>
    <script async src="site.js?lang=<%- user.language || 'en' %>&build=<%- system.build || 'dev' %>"></script>
    <!-- ^ SCRIPTS ^ -->
    <!-- v STYLES v -->
    <link rel="stylesheet" hreflang="<%- user.language || 'en' %>" referrerpolicy="origin" href="themes.css?lang=<%- user.language || 'en' %>&build=<%- system.build || 'dev' %>">
    <link rel="stylesheet" hreflang="<%- user.language || 'en' %>" referrerpolicy="origin" href="style.css?lang=<%- user.language || 'en' %>&build=<%- system.build || 'dev' %>">
    <!-- ^ STYLES ^ -->
</head>